
footer {
    background-color: var(--cor-texto-base);
    color: var(--cor-de-fundo);
    font: 500 1.5vw Montserrat;
    display: flex;

    margin: 0;
    padding: 5px;

    line-height: 4.2rem;
    flex-wrap: wrap;
}

footer .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* height: 50vh; */
    width: 80vw;
    margin: 0 auto;
    line-height: 4.2rem;
}

footer .conteudo img {
    height: 3%;
    width: 10%;
}

footer .conteudo .contato section {
    display: flex;
    justify-content: space-between;
   
    align-items: flex-start;
       
    flex-direction: column;
}

footer .conteudo #phoneIcon, #emailIcon {
    font-size: medium;
}

@media (max-width: 600px) {
    footer .conteudo {
        justify-content: center;
        align-items: center;
         flex-direction: column;
        display: flex;
        flex-direction: column;
        font: 700 0.1 Montserrat;
        margin: 0 auto; 
    }

     footer .conteudo img {
        display: none;
    }

    footer .conteudo .contato section {
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font: 700 0.1 Montserrat;
        margin: 0 auto;
        margin-top: 1.6rem; 
    }
}

@media (min-width: 700px) {
    footer .conteudo {
        max-width: 1100px;
    }
}