#reservas div{
    display: flex;
    
    text-align: start;
    
}

#reservas ul {
    list-style-type: none;
}

.listaDeReservas {
    width: 80vw;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto-base);
    font: 400 1.2rem Roboto;
    line-height: 3.2rem;

    word-break: break-all;
    
    border: solid gray;
    border-width: 1px;
    border-radius: 4px;

    padding: 1.6rem;
    margin: 0.5rem 1.6rem;

    display: flex;
    flex-direction: column;
}

.listaDeReservas section {
    display: flex;
    justify-content: space-around;
}

.listaDeReservas span { font: 400 1.6rem Montserrat; }