#reservas div{
    display: flex;
    
    text-align: start;
    justify-content: center;
    
}

#reservas ul {
    list-style-type: none;
}

form{
    max-width: max-content;
    margin: 0 auto;
    margin-top: 20px;
}

form .divinterna{
    display: flex;
}

#page .botoes{
    display: flex;
    flex-direction: column;
}

#page .botoes button{
    display: block;
    margin-top: 5px;
    margin-bottom: 1.6rem;
    background-color: var( --cor-primaria);
    color: var(--cor-de-fundo);
    border: none;
    border-radius: 3px;
    padding: 0.6rem;
    font: 700 1.6rem Montserrat;
    transition: 0.5s;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    cursor: pointer;
}
#page .botoes .nada {
    display: none;
    border: none;
}
.listaDeReservas {
    width: 80vw;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto-base);
    font: 400 1.2rem Roboto;
    line-height: 3.2rem;

    word-break: break-all;
    
    border: solid gray;
    border-width: 2px;
    border-radius: 4px;

    padding: 1.6rem;
    margin: 0.5rem 1.6rem;

    display: flex;
    flex-direction: column;
}

.dadosReserva > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
    
}
.dadosReserva > input + label{ /* label STYLES */
    cursor:pointer;
    transition: 0.3s;
    /* border:2px solid transparent; */
}

.dadosReserva > input:checked + label{ /* (RADIO CHECKED) DIV STYLES */
    background-color: var(--cor-primaria-clara);
    border: 2px solid var(--cor-primaria-escura);
    color: #252730;
    transition: 0.3s;
}

.listaDeReservas div section {
    display: flex;
    justify-content: space-around;
}

.reservas {display: flex; flex-direction: column;}
.listaDeReservas span { font: 400 1.6rem Montserrat; }